@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --Green: #43d6b2;
  --DarkGreen: #274a44;
  --lightGreen: #73c580;
  --font-family: "Anton", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "arial";
}

body {
  background-color: black;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main-Container {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  color: white;
}

/* NAVBAR ------------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: #211f1f;
  flex-wrap: wrap;
}

.nav-ul {
  display: flex;
  /* background-color: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);*/
}
.nav-ul li {
  list-style-type: none;
}

.nav-ul a {
  text-decoration: none;
  padding: 0px 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
}

.nav-ul a:hover {
  border: none;
  border-bottom: 3px solid #43d6b2;
}

.logo a {
  text-decoration: none;
  color: #43d6b2;
}
.hamburger {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.close-burger {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  display: none;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  /* .navbar {
    background: transparent;
  } */

  .nav-ul {
    display: none;
    width: 100%;
  }

  .nav-ul.show {
    position: fixed;
    inset: 0% 0% 0% 50%;
    padding-top: 10rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2rem);
  }

  .nav-ul li {
    margin-bottom: 1rem;
  }

  .hamburger {
    display: block;
  }
}

/* ----------------- SECTION A ----------------- */

.sectionA {
  margin-top: 10rem;
  height: 100vh;
}
.intro {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.intro span {
  text-transform: capitalize;
  color: #43d6b2;
}

.intro2 {
  color: #676f6c;
  font-size: 24px;
  margin-top: 30px;
}

.twitter-container,
.linkedin-container {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(233, 231, 231);
}

.icons-container {
  display: flex;
  justify-content: space-around;
  margin-top: -35rem;
  margin-bottom: 4rem;
}

.icons-container img {
  height: 100%;
}

.linkedin-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.twitter-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn {
  border-radius: 30px;
  padding: 0.5rem 3rem;
  background-color: #43d6b2;
  border: none;
  color: #fff;
  height: 50px;
  transition: background ease-in-out 0.5s;
}

.btn:hover {
  background: #98e2d0;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

/* -------GREEN CIRCLES--------- */
.sectionA::before {
  position: absolute;
  content: " ";
  display: block;
  height: 133px;
  width: 141px;
  border-radius: 50%;
  background-color: #73c580;
  z-index: -1;
  opacity: 0.3;
  top: 20%;
  left: 30px;
}

.sectionB::before {
  position: absolute;
  content: " ";
  display: block;
  height: 133px;
  width: 141px;
  border-radius: 50%;
  background-color: #73c580;
  z-index: -1;
  opacity: 0.3;
  top: 80%;
  right: 30px;
}

/* -------------SECTION B-------------- */

.sectionB {
  margin-top: 10rem;
  border-radius: 50px;
  padding: 2rem;
  background-color: #274a44;
  text-align: left;
}

.About span {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
}

.About h1 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

/* -------------SECTION C-------------- */
.sectionC {
  background-color: white;
  padding: 2rem 7rem;
}

.tech-Img-Container {
  height: 51px;
  padding: 2rem;
  aspect-ratio: 1;
  background-color: #87a69e;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.tech-Img-Container img {
  height: 100%;
}

.tech {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.tech p {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
