@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --Green: #43d6b2;
  --DarkGreen: #274a44;
  --lightGreen: #73c580;
  --font-family: "Anton", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "arial";
}

body {
  background-color: black;
  box-sizing: border-box;
}

.main-Container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-align: center;
  color: white;
}

/* NAVBAR ------------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  max-width: 1440px;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style-type: none;
}

.nav-ul a {
  text-decoration: none;
  padding: 0px 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
}

.nav-ul a:hover {
  border: none;
  border-bottom: 2px solid #43d6b2;
}

.logo a {
  text-decoration: none;
  color: #43d6b2;
}

.hamburger {
  position: fixed;
  padding: 1rem;
  right: 10%;
  bottom: 5%;
  background-color: #43d6b2;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  display: none;
  z-index: 9999;
}

.hamburger:focus {
  outline: none;
}

/* // NAVIGATION FOR MOBILE DEVICES */

@media screen and (max-width: 768px) {
  nav {
    position: relative;
    background-color: transparent;
  }

  .nav-ul {
    display: none;
    /* width: 100%; */
  }

  .nav-ul.show {
    position: fixed;
    right: 7%;
    bottom: 16%;
    padding-top: 5rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    z-index: 9999;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 610vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 0;
  }

  .nav-ul li {
    margin-top: 3rem;
    background-color: #43d6b2;
    border-radius: 5px;
  }

  .nav-ul a:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .hamburger {
    display: block;
  }
}

/* ----------------- SECTION A ----------------- */

.sectionA {
  margin-top: 10rem;
  height: 100vh;
}
.intro {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.intro span {
  text-transform: capitalize;
  color: #43d6b2;
}

.intro2 {
  color: #676f6c;
  font-size: 24px;
  margin-top: 30px;
}

.btn {
  border-radius: 30px;
  padding: 0.5rem 3rem;
  margin-top: 3rem;
  background-color: #43d6b2;
  border: none;
  color: #fff;
  height: 50px;
  transition: background ease-in-out 0.5s;
}

.btn:hover {
  background: #98e2d0;
}

.buttonContainer {
  text-align: center;
}

/* -------GREEN CIRCLES--------- */
.sectionA::before {
  position: absolute;
  content: " ";
  display: block;
  height: 133px;
  width: 141px;
  border-radius: 50%;
  background-color: #73c580;
  z-index: -1;
  opacity: 0.3;
  top: 20%;
  left: 30px;
}

.sectionB::before {
  position: absolute;
  content: " ";
  display: block;
  height: 133px;
  width: 141px;
  border-radius: 50%;
  background-color: #73c580;
  z-index: -1;
  opacity: 0.3;
  top: 80%;
  right: 30px;
}

/* -------------SECTION B-------------- */

.sectionB {
  margin-top: -5rem;
  margin-bottom: 30rem;
  position: relative;
  border-radius: 50px;
  padding: 2rem;
  /* background-color: #274a44; */
  text-align: left;
}

.background-skew {
  position: absolute;
  transform: skewY(-3deg);
  background-color: red;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 500px;
  width: 100%;
}

.About span {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
}

.About h1 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

/* -------------SECTION C-------------- */
.sectionC {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.sectionC h1 {
  color: #43d6b2;
}

.sectionC h1::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 5px;
  border-bottom: 5px solid #43d6b2;
  margin-bottom: 2rem;
}

/* SKILLS SECTION */

.skill,
.tool {
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  margin-bottom: 5em;
  color: black;
}

.tech-Img-Container {
  width: 60px;
  height: 60px;
}

.skill-img {
  height: 100%;
}

.skill-name {
  margin-left: 20px;
  text-transform: uppercase;
}

/* TOOLS SECTION  */

.tool-name {
  margin-left: 20px;
  text-transform: uppercase;
}

/* PROJECTS SECTION */

.sectionD {
  margin-top: 10rem;
}

.projectsTitle {
  text-transform: uppercase;
  color: #43d6b2;
  margin-bottom: 3rem;
}

.projectsTitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 5px;
  border-bottom: 5px solid #43d6b2;
  margin-bottom: 2rem;
}

.project {
  background-color: red;
  border-radius: 10px;
  background-color: #1e293b;
  padding: 2.5rem;
  margin-bottom: 4rem;
}

.projectName {
  font-size: 22px;
  font-weight: 800;
  text-align: left;
}

.projectName::before {
  content: " ";
  display: block;
  height: 100px;
  width: 200px;
  background-color: #5b895a;
  margin: 1rem auto;
}

.projectDescription {
  text-align: left;
  color: #586271;
  margin-bottom: 2rem;
}

.projectLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #43d6b2;
}

.projectLink {
  color: #43d6b2;
  text-decoration: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
